html {
	height: 100vh;
	padding: 0;
	margin: 0;
}

body {
	height: 100vh;
	padding: 0;
	margin: 0;

	font-size: 17px;
	font-weight: 400;

	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.content {
	height: 100%;

	overflow-y: scroll;

	-ms-overflow-style: none;
	scrollbar-width: none;
}

@media print {
	.content {
		overflow-y: unset;
	}
}

.content::-webkit-scrollbar {
	display: none;
}

#loading {
	display: flex;
	align-items: center;
	justify-content: center;
}

footer {
	margin-top: auto;
	display: flex;
	align-items: flex-end;

	background-color: #e0e0e0;
	padding-bottom: env(safe-area-inset-bottom, 0);
}

footer * {
	text-transform: capitalize;
}

footer .lsk {
	flex-grow: 1;
	flex-basis: 0;
	text-align: start;
}

footer .csk {
	text-align: center;
	text-transform: uppercase;
}

footer .rsk {
	flex-grow: 1;
	flex-basis: 0;
	text-align: end;
}

header {
	position: fixed;
	left: env(titlebar-area-x, 0);
	top: env(titlebar-area-y, 0);
	width: env(titlebar-area-width, 100%);
	min-height: env(titlebar-area-height, 36px);
	-webkit-app-region: drag;
	app-region: drag;

	background-color: white;

	display: flex;
	align-items: center;
}

.header-placeholder {
	box-sizing: border-box;
	height: max(env(titlebar-area-height, 36px), 42px);
	margin-bottom: 2px;
}

header.embedded {
	background-color: #0000ff !important;
	color: white;
}

.header.embedded .IC {
	color: #00ee00 !important;
}

.header.embedded .IR, .header.embedded .IRN {
	color: #ffaaaa !important;
}

@media (display-mode: window-controls-overlay) {
	header {
		background-color: #0000ff !important;
		color: white;
	}

	.header .IC {
		color: #00ee00 !important;
	}

	.header .IR, .header .IRN {
		color: #ffaaaa !important;
	}

	header .back {
		-webkit-app-region: no-drag;
		app-region: no-drag;

		filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(83deg) brightness(104%) contrast(101%);
	}

	.header-placeholder {
		background-color: #0000ff;
	}
}

header .left, header .right {
	flex-grow: 1;
	flex-basis: 0;
}

header .back {
	margin: 4px;
	height: 24px;
	cursor: pointer;
}

header.embedded .back {
	-webkit-app-region: no-drag;
	app-region: no-drag;

	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(83deg) brightness(104%) contrast(101%);
}

h1 {
	font-size: 17px;
	font-weight: 400;
	text-align: center;

	margin: 8px;
}

h2 {
	font-size: 17px;
	font-weight: 600;
	
	margin: 1px 0;
	padding-left: 8px;
	padding-right: 8px;
}

h3 {
	font-size: 14px;
	font-weight: 400;
	
	margin: 1px 0;
	padding-left: 8px;
	padding-right: 8px;
}

h4 {
	font-size: 14px;
	font-weight: 400;
	
	margin: 1px 0;
	padding-left: 8px;
	padding-right: 8px;

	color: #606060;
	background-color: #f0f0f0;
}

h5 {
	font-size: 14px;
	font-weight: 600;
}

p.pri {
	font-size: 17px;
	font-weight: 400;
	
	margin: 0 8px;
}

p.sec {
	font-size: 14px;
	font-weight: 400;
	
	margin: 0 8px;

	color: gray;
}

p.thi {
	font-size: 12px;
	font-weight: 400;
	
	margin: 0 8px;

	color: gray;
}

p, ul {
	font-size: 17px;
	font-weight: 400;

	margin: 0 8px;
}

p.link, a:not(.no-a-custom):not(.no-custom-a) {
	font-size: 17px;
	font-weight: 700;
}

p.btn, button {
	font-size: 17px;
	font-weight: 400;

	margin: 8px;
	padding: 8px;
	border: 1px solid grey;
	border-radius: 10px;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
	margin: 0;

	display: block;
}

li:focus {
	color: white;
	background-color: blue;
}

li.items:not(.disabled):hover:not(:focus) {
	color: black;
	background-color: lightskyblue;
}

a:not(.no-a-custom):not(.no-custom-a) {
	display: block;
	padding: 8px;
}

a:not(.no-a-custom):not(.no-custom-a):not(:focus):not(:hover) {
	color: black;
}

a.no-a-custom, a.no-custom-a {
	color: inherit;
	text-decoration: inherit;
}

a.inline:not(.no-a-custom):not(.no-custom-a) {
	display: inline;
	padding: 2px;
}

li a {
	text-decoration: none;
}

a.disabled {
	color: grey;

	text-decoration: none;
}

a:not(.disabled):hover:not(:focus) {
	color: black;
	background-color: lightskyblue;
}

a:focus, a:hover {
	color: white;
	background-color: blue;
	text-decoration: none;
}

input {
	display: block;

	box-sizing: border-box;
	width: calc(100% - 16px);

	margin: 8px;
	padding: 2px;
	border: 2px solid grey;
}

.hidden {
	display: none !important;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, Ubuntu, 'Segoe UI', 'Roboto', Sans-Serif, sans-serif;
}

pre {
	margin: 0;
	display: inline;
	font-family: 'Martian Mono', Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

.tabs {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.tabs h3 {
	margin: 2px;
	cursor: pointer;
}

.tabs h3.selected {
	border-bottom: #5555ff 2px solid;
	border-bottom-left-radius: 5%;
	border-bottom-right-radius: 5%;
}

.IR, .IRN {
	color: #ff0000 !important;
}

.IC {
	color: #00aa00 !important;
}


@media print {
	footer, .no-print {
		display: none !important;
	}

	header .back {
		display: none !important;
	}
}
