@media (prefers-color-scheme: dark) {

body {
	color: white;
	background-color: black;
}

header:not(.embedded) {
	background-color: black;
}

footer {
	background-color: #303030;
}

h4 {
	color: #a0a0a0;
	background-color: #0f0f0f;
}

p.sec, p.thi {
	color: lightgrey;
}

li.items:not(.disabled):hover:not(:focus), a:not(.disabled):hover:not(:focus) {
	background-color: #0000bb;
	color: white;
}

a:not(.no-a-custom):not(.no-custom-a):not(:focus):not(:hover) {
	color: white;
}

.back {
	filter: invert(1);
}

}
