@media(prefers-color-scheme: dark) {

.early {
	color: lightgreen;
}

.late {
	color: #ff3333;
}

#tabs-arr {
	border-bottom-color: #bbffbb;
}

#tabs-dep {
	border-bottom-color: #bbbbff;
}

#arrivals .train-item {
	background-color: #001a00;
}

#arrivals .train-item:nth-of-type(even) {
	background-color: #004400;
}

#departures .train-item {
	background-color: #00002a;
}

#departures .train-item:nth-of-type(even) {
	background-color: #000066;
}

.train-item.cancelled {
	background-color: #550000 !important;
}

.train-item .platform {
	border-color: white;
}

}
