@media(prefers-color-scheme: dark) {

.early {
	color: lightgreen;
}

.late {
	color: #ff3333;
}

.station { 
	color: white; 
}

.stationItem:nth-of-type(even) {
	background-color: #0f0f0f;
}

.stationItem .arrival .original, .stationItem .departure .original {
	color: #afafaf;
}

}
